# The path to your chromiumos checkout.
CHROMIUMOS_DIR=${HOME}/chromiumos
# These should be kept in sync with `.vscode/settings.json`.
VPYTHON_DEFAULT_SPEC=${CHROMIUMOS_DIR}/infra/recipes/.recipe_deps/recipe_engine/.vpython3
# User site-packages is here to make ptvsd available for import
PYTHONPATH=${PYTHONPATH}:${HOME}/.local/lib/python2.7/site-packages:${CHROMIUMOS_DIR}/infra/recipes/.recipe_deps/recipe_engine:${CHROMIUMOS_DIR}/infra/recipes/.recipe_deps/_pb2:${CHROMIUMOS_DIR}/infra/recipes/.recipe_deps/_pb3:${CHROMIUMOS_DIR}/infra/recipes/.recipe_deps/depot_tools:${CHROMIUMOS_DIR}/infra/recipes/.recipe_deps/chromiumos_proto
