# These should be kept in sync with `.vscode/settings.json`.
VPYTHON_DEFAULT_SPEC=${HOME}/chromiumos/infra/recipes/.recipe_deps/recipe_engine/.vpython
# User site-packages is here to make ptvsd available for import
PYTHONPATH=${PYTHONPATH}:${HOME}/.local/lib/python2.7/site-packages:${HOME}/chromiumos/infra/recipes/.recipe_deps/recipe_engine:${HOME}/chromiumos/infra/recipes/.recipe_deps/_pb:${HOME}/chromiumos/infra/recipes/.recipe_deps/depot_tools:${HOME}/chromiumos/infra/recipes/.recipe_deps/chromiumos_proto
