[Hook Scripts]
git_cl_presubmit = presubmit_support.py $(if [[ "${PRESUBMIT_COMMIT}" = pre-submit ]]; then echo --commit; fi)

[Hook Overrides]
# Needed to supply options below
cros_license_check: true

[Hook Overrides Options]
cros_license_check: --exclude_regex=\brecipes.py$

