[Hook Scripts]
cros format = cros format --check --commit ${PRESUBMIT_COMMIT} --include '*.proto' --include 'OWNERS*' --exclude '*' ${PRESUBMIT_FILES}
cros lint = cros lint --commit ${PRESUBMIT_COMMIT} ${PRESUBMIT_FILES} --exclude recipes_release/protos/*.py --exclude venv/ --exclude .recipe_deps/ --exclude README.recipes.md --exclude recipes.py

[Hook Overrides]
# Needed to supply options below
cros_license_check: true

[Hook Overrides Options]
cros_license_check: --exclude_regex=\brecipes.py$|\bsync-pulp.py$|\brecipes_release/protos/recipes_autoreleaser.py$

