[Hook Scripts]
cros format = cros format --check --commit ${PRESUBMIT_COMMIT} --include '*.proto' --include 'OWNERS*' --exclude '*' ${PRESUBMIT_FILES}
cros lint = cros lint --commit ${PRESUBMIT_COMMIT} ${PRESUBMIT_FILES} --exclude recipes_release/protos/*.py --exclude venv/ --exclude .recipe_deps/ --exclude README.recipes.md --exclude recipes.py
check_format = vpython3 repohooks/check_format.py
check_release_script_unit_tests = vpython3 repohooks/check_release_script_unit_tests.py ${PRESUBMIT_FILES}
check_recipes_cfg_parses = vpython3 repohooks/check_recipes_cfg_parses.py ${PRESUBMIT_FILES}


[Hook Overrides]
# Needed to supply options below
cros_license_check: true
git_cl_presubmit: false

[Hook Overrides Options]
cros_license_check: --exclude_regex=\brecipes.py$|\bsync-pulp.py$|\brecipes_release/protos/recipes_autoreleaser.py$
