# A fake realms.cfg file for testing.
# For the schema of this file, see RealmsCfg message:
#   https://luci-config.appspot.com/schemas/projects:realms.cfg

realms {
  name: "brya-taeko"
  extends: "fake"
  bindings {
    role: "role/buildbucket.builderServiceAccount"
    principals: "user:fake@fake.iam.gserviceaccount.com"
  }
}
realms {
  name: "dedede-galnat"
  extends: "fake"
  bindings {
    role: "role/buildbucket.builderServiceAccount"
    principals: "user:fake@fake.iam.gserviceaccount.com"
  }
}