{
        "python.defaultInterpreterPath": "${env:HOME}/.local/lib/depot_tools/vpython",
        "python.formatting.provider": "yapf",
        "python.formatting.yapfPath": "${env:HOME}/.local/lib/depot_tools/yapf",
        // These should be kept in sync with `.env` in the checkout root. Be
        // sure to use vpython as your interpreter when working in a shell.
        "terminal.integrated.env.linux": {
                // User site-packages is here to make ptvsd available for import
                "PYTHONPATH": "${env:HOME}/.local/lib/python2.7/site-packages:${workspaceFolder}/.recipe_deps/recipe_engine:${workspaceFolder}/.recipe_deps/_pb2:${workspaceFolder}/.recipe_deps/_pb3:${workspaceFolder}/.recipe_deps/depot_tools:${workspaceFolder}/.recipe_deps/chromiumos_proto:${env:PYTHONPATH}",
                "VPYTHON_DEFAULT_SPEC": "${workspaceFolder}/.recipe_deps/recipe_engine/.vpython3"
        },
        // We don't have a way to get testing to work with `recipes.py test`, yet.
        "python.testing.pytestEnabled": false,
        "python.testing.unittestEnabled": false,
        "python.testing.nosetestsEnabled": false
}
